{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Cat</title>
</head>
<body>
<div class="container bg-light p-0">

    <nav class="navbar bg-info">
      <div class="container-fluid">
        <a class="navbar-brand btn btn-warning">Pets.com</a>
      </div>
    </nav>

    <div class="card mb-3" style="width: auto">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../static/{{img}}" class="img-fluid rounded-start" alt="img">
        </div>
        <div class="col-md-8">
          <div class="card-body w-50">
            <h5 class="card-title">Кот: {{ cat.name }}</h5>
            <p class="card-text">Возраст: {{ cat.age }}</p>
            <p class="card-text">Уровень счастья: {{ cat.happiness }}</p>
            <p class="card-text">Уровень сытости: {{ cat.satiety }}</p>
            <p class="card-text mt-2">Состояние: {{ text }}</p>
          </div>
        </div>
      </div>
    </div>
    <form action="/information/">
        <select class="form-select" aria-label="Default select example" name="action">
            <option selected>Выберите действие</option>
              <option value="play">Играть</option>
              <option value="eat">Кушоц</option>
              <option value="sleep">Спать</option>
        </select>
        <p>
            <input type="submit" class="btn btn-warning mt-3">
        </p>

    </form>

</div>
</body>
</html>